.card-title{
    font-size: 30px;
    color: white;
}
.card-text{
    font-size: 17px;
    color: white;
}
.card{
    background-color: orange;
    border: 2px solid rgb(0, 119, 231);
}
.btn{
    color: orange;
    background-color: white;
}
.btn:hover{
    background-color: rgb(136, 77, 136);
}
.h3Main3{
    text-align: center;
}
.divMain3{
    padding: 20px;
    border: 5px solid black;
    border-radius: 5px;
}
.divCardMain3{
    padding: 20px;
}