.dedicoDiv{
    padding: 20px;
    background-color: rgb(82, 155, 204);
    color: white;
    border: 5px solid black;
    border-radius: 5px;
}
.h3Main2{
    text-align: center;
    text-decoration: none;
}
.divMain2{
    padding: 20px;
    text-align: center;
    text-decoration: none;
}